/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/ChatInterface.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
/* styles/ChatInterface.module.css */

.ChatInterface_chatContainer__KW1j0 {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  display: flex;
  position: relative;
  flex-direction: column; /* Set flex direction to column */
}

.ChatInterface_messageContainer__z53m4 {
  max-height: 80vh;
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 50px;
}

.ChatInterface_userMessage__aqGmS {
  background-color: black;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.ChatInterface_botMessage__JYb8z {
  background-color: #f0f0f0;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.ChatInterface_inputContainer__UnTxK {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 80%;
  
}

.ChatInterface_inputContainer__UnTxK input {
  flex: 1 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.ChatInterface_inputContainer__UnTxK button {
  padding: 8px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

